:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;
}


html,
body {
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;

}

p,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: Helvetica Neue, Arial, sans-serif;
}

/* navigation */

button {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #eaeaea;
}

li,
a {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8)
}

ul {
    list-style: none;
}


h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}


.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 20em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
        "left-column right-column"
    ;
}

.left-column {
    grid-area: left-column;
    align-content: center;
    padding: 0px 25px;
    margin: 30px;
}

.right-column {
    grid-area: right-column;
    text-align: center;
    padding: 0px 25px;
    margin: 80px;
}

@media screen and (max-width: 1200pc) {
    .main-container {
        width: 95%;
    }

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.container .heading h3 span {
    font-weight: 100;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 769px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .dream {
        width: 100%;
    }



    @media only screen and (max-width: 643px) {
        .container .heading {
            width: 100%;
        }

        .container .heading h3 {
            font-size: 1em;

        }

    }
}