h1, h2, h3, h4, h5, h6 { /* Main Headings are all bright white */
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    color: #ffffff;
}

li, a, table, p { /* Secondary letterings are all off-white */
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #dbd1d1;
    text-decoration: none;
}

/* Base styling for the navigation bar */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 2%;
    background-color: #494949;
    margin: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Adds shadow effect */
    
}

.s1, .s2, .s3 {
    border-radius: 20px; /* Make the corners rounded */
    overflow: hidden; /* Ensure content stays within the rounded box */
    padding: 20px;
    margin: 20px;
}

.s2 h3, .s3 h3 {
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2f2f2f;
}

.s1 .main {
    background-image: url("images/indexbackground.jpg");
    background-size: cover;
    background-position:0em;
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 20em;
    margin: 0 auto;
}

.s1 .art {
    background-image: url("images/suryabackground.jpg");
    background-size: cover;
    background-position:0em;
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 20em;
    margin: 0 auto;
}

.s1 .code {
    background-image: url("images/somabackground.jpg");
    background-size: cover;
    background-position:bottom;
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 20em;
    margin: 0 auto;
}

.s1 .writing {
    background-image: url("images/sixbackground.jpg");
    background-size: cover;
    background-position:top;
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 20em;
    margin: 0 auto;
}

.s1 h1 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 5px;
}

.s2 { /* dark gray background sections */
    display: grid;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    align-content: center;
    padding-top: 30px;
}

.s2 .title {
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 20px;
}

.s2 .titlemiddle {
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 20px;
    text-align: center;
    align-content: center;
}

.s3 { /* gray background sections */
    display: grid;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    align-content: center;
    padding-top: 30px;
    background-color: #494949;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5), /* Shadow on top */
                0px 4px 10px rgba(0, 0, 0, 0.5);  /* Shadow on bottom */
}

.s3 .title {
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 20px;
}

.s3 .titlemiddle {
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 20px;
    text-align: center;
    align-content: center;
}

.s1, .s2, .s3 {
    border-radius: 20px; /* Make the corners rounded */
    overflow: hidden; /* Ensure content stays within the rounded box */
    padding: 20px;
    margin: 20px;
}

.diffcolor{ /* gray  quote sections */
    background-color: #494949;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#logo { /* warrior logo */
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: auto;
}

#logo li, a {
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

header nav {
    display: flex; /* Aligns both the nav links and icons horizontally */
    align-items: center; /* Vertically centers the content */
    gap: 20px; /* Adds space between the nav links and the icon container */
}

.nav_links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_links li {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_links li a:hover {
    color: #0088a9;
}

/* Styling for the icons' container */
.icon-container {
    background-color: #0088a9; /* Blue background */
    border-radius: 20px; /* Rounded edges */
    padding: 10px 15px; /* Inner spacing */
    display: flex; /* Aligns icons horizontally */
    align-items: center; /* Vertically centers icons */
    gap: 20px; /* Spacing between icons */
}

.icon-container a {
    margin: 0;
    padding: 0;
    text-decoration: none; /* Removes underline for links */
}

.icon-container i {
    font-size: 18px; /* Icon size */
    color: #ffffff; /* White icon color */
    margin: 0;
}



.image-size {
    width: 100%;
}

/* Container for the tabs */
.tabs {
    overflow: hidden;
    background-color: #2f2f2f; /* Matches your background */
    margin-top: 20px;
    border-bottom: 1px solid #494949;
}

/* Tab buttons */
.tabs button {
    background-color: inherit;
    border: 2px solid #0088a9;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffffff;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    margin-right: 5px;
    margin-left: 0;
}

/* Change tab button background on hover */
.tabs button:hover {
    background-color: #494949;
}

/* Active tab button */
.tabs button.active {
    background-color: #0088a9; /* Accent color */
    color: #ffffff;
    border-bottom: 1px solid #0088a9; /* Removes the border to connect with the content */
    margin-left: -1px;
}

/* Tab content */
.tab-content {
    display: none;
    border-top: none;
    background-color: #0088a9; /* Matches your background */
    color: #dbd1d1;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners of content box */
    margin-top: -5px; /* Removes the gap between the tab and content */
    padding-left: 0;
    padding: 20px 20px 20px 20px;
}

/* Show active tab content */
.tab-content.active {
    display: block;
    border-top: none; /* Removes the top border to connect with the active tab */
    margin-top: 0; /* Ensure the content aligns perfectly with the tab */
    padding-left: 0;
}

.pdf-container {
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
}

iframe, embed {
    border: none;
}

/* Styling the scroll button */
.scroll-button {
    text-align: center;
    margin-top: -60px; /* Adjust if needed */
    margin-bottom: 40px;
}

.scroll-button .circle {
    background-color: #0088a9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Adds shadow effect */
}

.scroll-button .arrow {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #ffffff;
}

/* Smooth scrolling for the button click */
html {
    scroll-behavior: smooth;
}

.video-container {
    display: flex;
    justify-content: center; /* Centers the video horizontally */
    margin-top: 25px;
}

/* General row and column layout */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px; /* Remove extra space between columns */
}

.column {
    flex: 1 1 25%; /* Flex-grow, flex-shrink, flex-basis */
    padding: 0 4px; /* Space between columns */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.column img {
    width: 100%; /* Ensure images scale to the column width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 8px; /* Space between images */
}

/* collapsable section */
.section-content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
  
  .section-content.collapsed {
    max-height: 0;
    padding: 0;
    margin: 0;
  }
  
  .toggle-btn {
    font-size: 2rem;
    margin-left: 0rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #0088a9;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
  }
  
  .toggle-btn.rotated {
    transform: rotate(90deg);
  }
  


/* Container for the tabs */
.tabs2 {
    overflow: hidden;
    background-color: #2f2f2f; /* Matches your background */
    margin-top: 20px;
    border-bottom: 1px solid #494949;
}

/* Tab buttons */
.tabs2 button {
    background-color: inherit;
    border: 2px solid #0088a9;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffffff;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    margin-right: 5px;
    margin-left: 0;
}

/* Change tab button background on hover */
.tabs2 button:hover {
    background-color: #494949;
}

/* Active tab button */
.tabs2 button.active {
    background-color: #0088a9; /* Accent color */
    color: #ffffff;
    border-bottom: 1px solid #0088a9; /* Removes the border to connect with the content */
    margin-left: -1px;
}

/* Tab content */
.tab-content2 {
    display: none;
    border-top: none;
    background-color: #0088a9; /* Matches your background */
    color: #dbd1d1;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners of content box */
    margin-top: -5px; /* Removes the gap between the tab and content */
    padding-left: 0;
    padding: 20px 20px 20px 20px;
}

/* Show active tab content */
.tab-content2.active {
    display: block;
    border-top: none; /* Removes the top border to connect with the active tab */
    margin-top: 0; /* Ensure the content aligns perfectly with the tab */
    padding-left: 0;
}